
* {
    /* feel free to update these css variables for a quick theme */
    
    --magenta: #ba2575;
    --indigo: #710be6;
    --chartreuse: #90ff12;
    --green: #39b372;
    --green-transparent: #39b37288;
    --light-green-transparent: #90EE90dd;
    --orange: #f77e14;
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    
    --header-height: 80px;
    --shadow: 0px 0px 20px -3px rgba(0,0,0,0.45);
    --footer-shadow: 0px 0px 20px -3px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 35px;
    
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    font-family: 'Titillium Web', sans-serif;
}

body{
    width: 100%;
    /* background-color: var(--green); */
    background-image: linear-gradient(#39b37288, #39b37288 ), url('../assets/produce.jpg');
    color: green;
}

main {
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#delete-list, #logout, #delete-checked{
    position: fixed;
    right: 20px;
    width: 150px;
    height: 30px;
    border-radius: 2px;
    font-weight: 700;
    color:lightgreen;
}

#logout{
    top: 200px;
}

#delete-checked{
    background-color: red;
    top: 160px;
}

#sign-in-password,
#sign-in-email,
#sign-up-password,
#sign-up-email{
    border: 1px solid black;
    border-radius: 1px;
}


#logout:hover{
    background-color: grey;
}

#logout:active{
    background-color: black;
    /* color: white; */
}

#delete-list{
    top: 120px;
    background-color: red;
}

#delete-list:hover, #delete-checked:hover{
    background-color: orange;
    color:darkgreen;
}

#delete-list:active, #delete-checked:active{
    background-color: yellow;
    color: darkgreen;
}

.title{
    text-align: center;
    font-size: 2rem;
}

.dark-green{
    color: darkgreen;
}

.item-input{
    width: 300px;
}

#form{
    /* display: flex; */
    gap: 20px;
    padding: 10px 20px 20px 20px;
    margin-top: 20px;
    /* border: 1px solid black; */
    border-radius: 2px;
    background-color: var(--light-green-transparent);
    box-shadow: 0 0 5px darkgreen;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.border-radius-2px{
    border-radius: 2px;
}

.double-div{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 25px;
    margin-bottom: 15px;
    width: 760px;
}

.item-quantity, .list-item{
    text-align: left;
    display: inline-block;
    height: 25px;
}

.list-item{
    padding: 0;
    margin: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.item-quantity{
    padding-right: 10px;
    margin: 0;
    border-right: 1px solid lightgreen
}

.checkbox{
    margin-right: 10px;
}

.item-div{
    text-align: center;
    background-color: bisque;
    cursor: pointer;
    border-radius: 3px;
    height: 25px;
    width: 100%;
}

.item-div-purchased{
    text-align: center;
    background-color: var(--green);
    color: lightgreen;
    cursor: pointer;
    pointer-events: none;
    border-radius: 3px;
    height: 25px;
    width: 100%;
}

.text-decoration{
    text-decoration: line-through;
    text-decoration-color: darkgreen;
}

.text-decoration-none{
    text-decoration: none!important;
}

.reAdd{
    font-weight: 900;
    vertical-align: middle;
    color: lightgreen;
    pointer-events: all;
    text-decoration: none;
    padding-right: 10px;
}

#add-item{
    margin-top: 10px;
    padding: 3px 0;
    width: 100%;
}

.input-container{
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}

.pad-left{
    padding-left: 5px;
}

#list-container{
    margin-top: 30px;
    padding: 20px;
    background-color: var(--light-green-transparent);
    width: 800px;
    border-radius: 2px;
    box-shadow: 0 0 5px darkgreen;
}

#sub-title{
    width: 100%;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: var(--header-height);
    box-shadow: var(--shadow);
    background-color: #39b37288;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: #39b37288;
    align-items: center;
    color: lightgreen;
    box-shadow: var(--footer-shadow);
}

.auth-main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    gap: 20px;
}

.auth-container {
    margin: 10px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}

.left, .right{
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.light-green{
    color: lightgreen;
}

.dark-green{
    color: darkgreen;
}

.add-item{
    background-color: darkgreen;
    color: lightgreen;
    border: 1px solid darkgreen;
}

.add-item:hover{
    background-color: var(--green);
    color: darkgreen;
    border: 1px solid darkgreen;
}

.add-item:active{
    background-color: lightgreen;
    color: darkgreen;
    border: 1px solid darkgreen;
}

.cursor-pointer{
    cursor: pointer;
}